font-family: "Open Sans", sans-serif;

@import url("https://fonts.googleapis.com/css27 family=Open+Sans&display=swap");

transition: all 0.2s ease-in-out;

body {

background: #6c63ff;

display: grid;

place-items: center;

height: 180vh;

margin: 0;

color: #fff;

CSS

img.birthday {

max-height: 40vh;

}

.text {

card {

padding: 1em;

color: #333;

height: 85vh;

flex-direction: row-reverse;

background: #fdfdfd;

border-radius: 4px;

width: 80vw;

box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

text-align: center;

display: flex;

flex-direction: column;

Justify-content: center;

align-items: center;

padding: 1em;

overflow: hidden;

@media only screen and (min-width: 1000px) (

.card (

card img.birthday {

width: 100%;

}

.muted {

opacity: 0.8;

}

.space {

height: 100px;

}

@keyframes fadeIn {

from {

opacity: 0;

max-width: 58vw;

max-height: unset;

}

to {

opacity: 1;

@media only screen and (max-height: 640px) {

.card {

}

}

flex-direction: row-reverse;

.card img.birthday {

width: 100%;

max-width: 50vw;

max-height: unset;

J

body.play-music {

animation: fadeIn 2s ease-in-out;

}

@codesphered01010